WebContent/wsdl/MyMainController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://springmvctest" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://springmvctest" xmlns:intf="http://springmvctest" xmlns:tns1="http://ui.springframework.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://springmvctest" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ui.springframework.org"/>
   <element name="show">
    <complexType>
     <sequence>
      <element name="model" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="showResponse">
    <complexType>
     <sequence>
      <element name="showReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="showResponse">

      <wsdl:part element="impl:showResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="showRequest">

      <wsdl:part element="impl:show" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MyMainController">

      <wsdl:operation name="show">

         <wsdl:input message="impl:showRequest" name="showRequest">

       </wsdl:input>

         <wsdl:output message="impl:showResponse" name="showResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MyMainControllerSoapBinding" type="impl:MyMainController">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="show">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="showRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="showResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MyMainControllerService">

      <wsdl:port binding="impl:MyMainControllerSoapBinding" name="MyMainController">

         <wsdlsoap:address location="http://localhost:8080/qwerqwer/services/MyMainController"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
